*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

header{
    text-align: center;
}

section{
    text-align: center;
}

button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 2rem;
}

.contas{
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 20px;
    line-height: 50px;
    padding: -5px;
    font-family: sans-serif;
    font-size: 1.5rem;
}

#modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .8);
    transition: .5s;
}

#modalForm{
    background-color: white;
    width: 500px;
    height: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    transition: .5s;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
}

input:not(:last-child){
    border-radius: 20px;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 20px;
}

input::placeholder{
    font-style: italic;
}

label:last-child{
    cursor: pointer;
}
